@model IEnumerable<Event>
@{
    ViewData["Title"] = "Home Page";
}

<!-- Täysleveä kuva -->
<div class="full-width-image-wrapper">
    <video autoplay muted loop playsinline class="full-width-image">
        <source src="~/images/logovideo.mp4" type="video/mp4" />
        Selaimesi ei tue videota.
    </video>
</div>

<div class="text-center">

    @foreach (var item in Model)
    {
        <script>
            @{
                    var dateString = item.Date.HasValue ? item.Date.Value.ToString("o"):"";
                   var startDate = item.Date.HasValue ? item.Date.Value.ToString("dd.MM.yyyy HH:mm") : "";
            }

            setInterval(function() {
      
                     var endDate = moment("@dateString");
                    var now = moment();
                    var diff = moment.duration(endDate.diff(now));

                    document.getElementById('@Html.DisplayFor(modelItem => item.EventId)').innerHTML =
                Math.floor(diff.asDays()) + " päivää " +
                diff.hours() + " tuntia " +
                diff.minutes() + " minuuttia " +
                diff.seconds() + " sekuntia";
            }, 1000);
        </script>
        <h3> <a href="/Events/Details/@item.EventId">@Html.DisplayFor(modelItem => item.Name)</a></h3>
        <div><strong>@startDate</strong></div>
        <div id="@Html.DisplayFor(modelItem => item.EventId)"></div>
    }

 
</div>
