@model client.Controllers.UserTicketsViewModel

@{
    ViewData["Title"] = "Index";
}

<ul>
@foreach (var item in Model.AllEvents)
{
        <li><a asp-action="Buy" asp-route-id="@item.EventId">Buy ticket to @item.Name</a></li>
}
</ul>

<h2>MyTickets</h2>
@foreach (var item in Model.UserTickets)
{
    <h4 style="@(item.Cancel == true ? "text-decoration: line-through;" : "")"> @Html.DisplayFor(modelItem => item.Ticket.Event.Name)</h4>
    <ul>
        <li>Firstname: @Html.DisplayFor(modelItem => item.Firstname)</li>
        <li>Lastname: @Html.DisplayFor(modelItem => item.Lastname)</li>
        <li>Price: @Html.DisplayFor(modelItem => item.Price)</li>
        <li>Ticket: <span style="@(item.Cancel == true ? "text-decoration: line-through;" : "")">@Html.DisplayFor(modelItem => item.Ticket.Description)</span><a asp-action="Cancel" asp-route-id="@item.PticketId"> [Peru osto]</a></li>
    </ul>
    <img src="@Url.Action("GenQR", "Api", new { id = item.Code })" alt="QR-koodi" class="qr-code" />
}


