@using client.Models;
@model Message  

<li>
    @Html.DisplayFor(model => model.Date)
    &lt; @Html.DisplayFor(model => model.Sender.Nickname) &gt;
    @Html.DisplayFor(model => model.Receiver.Nickname) :
    
    @if (Model.NewMsg && Model.ReceiverId == ViewBag.CurrentUserId)
    {
        <strong>@Html.DisplayFor(model => model.Message1)</strong>
    }
    else
    {
        @Html.DisplayFor(model => model.Message1)
    }

    @if (Model.SenderId == ViewBag.CurrentUserId)
    {
        <a href="@Url.Action("Delete", new { id = Model.MessageId })" title="Poista viesti">[x]</a>
    }
</li>