@using System.Security.Claims
@model client.Models.Event

@{
    ViewData["Title"] = "Details";
}

@{
 var DateStart = Model.Date.HasValue ? Model.Date.Value.ToString("dd.MM.yyyy HH:mm"):"";
 var DateEnd = Model.Date.HasValue ? Model.DateEnd.Value.ToString("dd.MM.yyyy HH:mm") : "";
 bool active = Model.Active.HasValue ? Model.Active.Value : false;
 }

<div>
 
    <dl class="row">
        <dd class = "col-sm-10">
            <h3>@Html.DisplayFor(model => model.Name)</h3>
        </dd>
        <dd class="col-sm-10">
            @DateStart -  @DateEnd
        </dd>
        <dd class = "col-sm-10">
            @Html.Raw(Model.Description)
        </dd>
        <dd class = "col-sm-10">
            @Html.Raw(Model.Program)
        </dd>
        <hr />
        <dd class="col-sm-10">
        @foreach ( var item in Model.Images)
        {
            <img src="@item.Url" alt="@item.Title">
        }
        </dd>

        <hr />
    
        

        <div class="table-responsive">
            <table class="table table-striped table-hover">

                <tbody>
                    @foreach (var item in Model.Tickets)
                    {
                        <tr>
                            <td>@item.Description</td>
                            <td class="text-right">@item.Price?.ToString("0.00") €</td>
                            <td>
                                <form asp-action="Buy" asp-controller="MyTickets" method="post">
                                    <input type="hidden" name="eventId" value="@Model.EventId" />
                                    <input type="hidden" name="ticketId" value="@item.TicketId" />
                                    <button type="submit" class="btn btn-sm btn-outline-primary">Osta</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        

        @if ( active)
        {
            @if (User.Identity.IsAuthenticated)
            {
                <dd class="col-sm-10">
                    <a href="/MyTickets/Buy/@Model.EventId">Osta lippu tapahtumaan</a>
                </dd>

                @if (User.HasClaim(c => c.Type == "IsAdmin" && c.Value == "True"))
                {
                    <dd class="col-sm-10">
                    <a asp-action="Edit" asp-area="Admin" asp-route-id="@Model.EventId">Muokkaa tapahtumaa</a>
                    </dd>
                    <dd class="col-sm-10">
                        <a href="/Admin/Tickets/Index/@Model.EventId">Muokkaa/Luo lippuja</a>
                    </dd>
                }
            } else
            {
                <dd class="col-sm-10">
                    <a href="/Register">Rekisteröidy ostaaksesi lipun tapahtumaan</a>
                </dd>
            }
        }
   

    </dl>
</div>
<div>
</div>
